@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Tahoma;
}

:root {
  --color-black: #202020;
  --color-yellow: #f5f500;
  --color-white: #ebebeb;
  --color-grey: #c7c7c7;
  --color-blue: #0000ff;
  --color-green: #29b329;
  --color-red: #ff0000;
}

ul {
  list-style: none;
}

.d-flex {
  display: flex;
}

header {
  background-color: var(--color-yellow);
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

header img:hover {
  transform: scale(102%);
  transition: 0.2s;
}

.icon-menu {
  padding-left: 2%;
}

.icon-user {
  padding-right: 2%;
}

#pokedex2000-logo {
  cursor: pointer;
  height: 9vh;
  padding-right: 5vh;
}

main {
  height: 90vh;
  width: 100%;
  background-color: var(--color-black);
  justify-content: center;
  align-items: center;
}

section {
  height: 65%;
  width: 55vh;
  background-color: var(--color-grey);
  border: 2px solid var(--color-black);
  border-radius: 16px;
  margin: 2vh 2vh 2vh 2vh;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

section h1 {
  margin-top: 24px;
}

form {
  height: 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10% 0 10%;
  gap: 5%;
}

form button {
  margin-top: 5%;
  padding: 2%;
  border-radius: 8px;
  border: none;
}

form input {
  padding: 2%;
  border-radius: 8px;
  border: none;
}

form button:hover {
  transform: scale(101%);
  transition: 0.2s;
  box-shadow: 5px 5px 25px var(--color-black);
  cursor: pointer;
}

form button:active {
  transform: scale(98%);
  transition: 0.2s;
  box-shadow: 5px 5px 10px var(--color-black);
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
}

footer a {
  display: flex;
  justify-content: center;
  color: var(--color-blue);
}

footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: sticky;
  background-color: white;
  border-radius: 16px;
  width: 40vh;
  overflow: hidden;
}

.modal-header {
  padding: 2.5vh;
  display: flex;
  align-items: center;
}

.modal-header button {
  border: none;
  background-color: transparent;
}

.modal-header button:hover {
  cursor: pointer;
}

.modal-header svg {
  margin-right: 2%;
}

.modal-body {
  background-color: var(--color-grey);
  padding: 16px;
}

.modal-button {
  position: absolute;
  right: 16px;
  top: 16px;
}
