@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", Tahoma;
}

:root{
    --color-black: #202020;
    --color-yellow: #f5f500;
    --color-white: #ebebeb;
    --color-grey: #c7c7c7;
}

ul{
    list-style: none;
}

.d-flex{
    display: flex;
}

header{
    background-color: var(--color-yellow);
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

header img:hover{
    transform: scale(102%);
    transition: 0.2s;
}

.icon-menu{
    padding-left: 2%;
}

.icon-user{
    padding-right: 2%;
}

#pokedex2000-logo{
    cursor: pointer;
}

main{
    height: 90vh;
    width: 100%;
    background-color: var(--color-black);
    justify-content: center;
    align-items: center;
}

section{
    height: 80%;
    width: 65vh;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    border-radius: 16px;
    margin: 2vh 2vh 2vh 2vh;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}

.login-element{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: red;
}